@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
  --font-mono: var(--font-rubik-mono);  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), sans-serif;
}

@layer base {
  h1{
    @apply tracking-wide;
  }
  h2{
    @apply text-base/6 font-mono underline;
  }
  p{
    @apply text-sm/6 font-sans;
  }
}

@layer components {
  .h1Desktop {
    @apply text-xl/6 font-mono;
  }

  .h1Mobile {
    @apply text-lg/6 font-mono;
  }

  .pDesktop {
    @apply text-sm/6 font-sans;
  }
  .pMobile {
    @apply text-sm/6 font-sans;
  }
  .captions{
    @apply text-xs/4;
  }
}